{
  "extends": ["eslint:recommended", "standard"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react",
    "standard"
  ],
  "rules": {
    "no-console": 0,
    "no-var": 1,
    "prefer-const": 1,
    "space-before-function-paren": ["error", "never"],
    "no-trailing-spaces": "error",
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "computed-property-spacing": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "block-spacing": ["error", "never"],
    "camelcase": "error",
    "default-case": "error",
    "prefer-template": "error",
    "template-curly-spacing": "error",
    "no-multi-spaces": "error",
    "new-cap": 0,
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "eol-last": 0,
    "quotes": [2, "single"],
    "jsx-quotes": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  }
}
